<form method="post" action="/store" enctype="multipart/form-data">
    Título:
    <input type="text" name="txtTitulo" id="txtTitulo"> <br> <br>
    Descripción:
    <input type="text" name="txtDescripcion" id="txtDescripcion"> <br> <br>
    Precio:
    <input type="text" name="txtPrecio" id="txtPrecio"> <br> <br>
    Foto:
    <input type="file" name="txtImagen" id="txtImagen"> <br> <br>
    Cantidad:
    <input type="text" name="txtCantidad" id="txtCantidad"> <br> <br>
    Categoría:
    <select name="txtCategoria" id="txtCategoria">
        <option value="Informatica">Informática</option>
        <option value="Audio">Audio</option>
        <option value="Video">Video</option>
        <option value="Gaming">Gaming</option>
        <option value="Telefonia">Telefonía</option>
    </select> <br> <br>
    <input type="submit" value="Agregar Producto">
</form>