<form method="post" action="/store" enctype="multipart/form-data">
    Title:
    <input type="text" name="txtTitle" id="txtTitle" /> <br/>
    Description:
    <input type="text" name="txtDescription" id="txtDescription" /> <br/>
    Price:
    <input type="float" name="txtPrice" id="txtPrice" /> <br/>
    Count:
    <input type="int" name="txtCount" id="txtCount" /> <br/>
    Category Name:
    <input type="text" name="txtCategory" id="txtCategory" /> <br/>
    Image:
    <input type="file" name="txtImage" id="txtImage" /> <br/><br/>
    <input type="submit" value="Agregar" /> 
</form>